body {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fa-youtube {
  color: red;
  font-size: 50px;
}

.fa-facebook {
  color: #1877f2;
  font-size: 50px;
}

.first {
  width: 150px;
  height: 80px;
  background-color: antiquewhite;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.first:hover {
  position: relative;
  left: 8px;
  background-color: rgb(255, 181, 84);
  font-size: 120%;
}

.first:active {
  position: relative;
  left: 8px;
  background-color: rgb(165, 94, 0);
  font-size: 120%;
}

.second {
  width: 150px;
  height: 80px;
  background-color: antiquewhite;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.second:hover {
  position: relative;
  left: 8px;
  background-color: rgb(255, 181, 84);
  font-size: 120%;
}

.second:active {
  position: relative;
  left: 8px;
  background-color: rgb(165, 94, 0);
  font-size: 120%;
}

.third {
  width: 150px;
  height: 80px;
  background-color: antiquewhite;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.third:hover {
  position: relative;
  left: 8px;
  background-color: rgb(255, 181, 84);
  font-size: 120%;
}

.third:active {
  position: relative;
  left: 8px;
  background-color: rgb(165, 94, 0);
  font-size: 120%;
}

.fourth {
  width: 150px;
  height: 150px;
  background-color: antiquewhite;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth_sub {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 166, 32);
  position: absolute;
  left: 50px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.fourth_sub:hover {
  background-color: rgb(223, 164, 88);
  transform: scale(0.9);
}

.fourth_sub:active {
  background-color: rgb(165, 94, 0);
  transform: scale(0.9);
}

.fifth {
  width: 50px;
  height: 50px;
  background-color: antiquewhite;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.sixth {
  width: 150px;
  height: 150px;
  background-color: antiquewhite;
}
